
body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #efefef;
    padding: 20px;
    text-align: center;
}

section {
    background-color: #000;
    color: #fff;
}

a {
    color: #fff;
    padding: 10px;
}

a:hover {
    font-size: 20px;
    background-color: red;

}

li {
    list-style: none;
    padding: 10px;
}
button{
    background-color: aqua;
}